{{ define "main" }}
  {{ $data := index site.Data site.Language.Lang }}


  <section class="section">
    <div class="container donation-content-pane">
      <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <!--  Payhere Form -->
          <form class="border p-3 mb-5">
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="First Name"
                value=""
                required />
              <label for="firstName">First Name</label>
            </div>

            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
                value=""
                required />
              <label for="lastName">Last Name</label>
            </div>

            <div class="form-floating mb-2">
              <select
                class="form-select"
                id="currency"
                aria-label="Floating label select example">
                <option value="USD">USD</option>
                <option value="LKR">LKR</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
              </select>
              <label for="currency">Currency</label>
            </div>

            <div class="form-floating mb-4">
              <input
                type="text"
                class="form-control"
                id="amount"
                placeholder="Amount"
                value=""
                required />
              <label for="amount">Amount</label>
            </div>

            <!-- Hidden Form Fields -->
            <input type="hidden" id="address" value="" />
            <input type="hidden" id="city" value="" />
            <input type="hidden" id="country" value="" />
            <input type="hidden" id="email" value="" />
            <input type="hidden" id="item" value="" />
            <input type="hidden" id="phone" value="" />

            <button
              class="w-100 btn btn-lg btn-primary mb-3"
              type="button"
              onclick="initiatePayment()">
              Simulate Bogus Payment
            </button>
          </form>

          <script>
            // RandomUser.me API to get random user data
            async function fetchData() {
              try {
                const response = await fetch(
                  "https://randomuser.me/api/?nat=us,gb,au,ca",
                );
                const data = await response.json();
                const randomUser = { ...data.results[0] };
                const {
                  name: { first, last },
                  email,
                  phone,
                  location: { street, city, state, country, postcode },
                  login,
                } = randomUser;

                const currencies = ["USD", "LKR", "EUR", "GBP", "AUD"];
                const randomCurrency =
                  currencies[Math.floor(Math.random() * currencies.length)];

                let minAmount, maxAmount;

                if (randomCurrency === "LKR") {
                  minAmount = 10000;
                  maxAmount = 50000;
                } else {
                  minAmount = 10;
                  maxAmount = 120;
                }

                const randomAmount = (
                  Math.random() * (maxAmount - minAmount) +
                  minAmount
                ).toFixed(2);

                const user = {
                  address: `${street.number} ${street.name}`,
                  amount: randomAmount,
                  city,
                  country,
                  currency: randomCurrency,
                  email,
                  first,
                  item: `${login.username}`.toUpperCase(),
                  last,
                  phone,
                };

                console.log(user);

                // Set random values to the form fields
                // Visible Fields
                document.querySelector("#firstName").value = user.first;
                document.querySelector("#lastName").value = user.last;
                document.querySelector("#currency").value = user.currency;
                document.querySelector("#amount").value = user.amount;
                // Hidden Fields
                document.querySelector("#address").value = user.address;
                document.querySelector("#city").value = user.city;
                document.querySelector("#country").value = user.country;
                document.querySelector("#email").value = user.email;
                document.querySelector("#item").value = user.item;
                document.querySelector("#phone").value = user.phone;
              } catch (error) {
                console.error("Error fetching data:", error);
              }
            }
            fetchData();

            // Allow amount field to enter only numeric with 2 decimals
            document
              .getElementById("amount")
              .addEventListener("input", function (event) {
                let inputValue = event.target.value;
                inputValue = inputValue.replace(/[^\d.]/g, ""); // Remove non-numeric and non-decimal characters
                const decimalCount = (inputValue.split(".")[1] || []).length;
                if (decimalCount > 2) {
                  inputValue = inputValue.slice(0, -1); // Allow only two decimal places
                }
                event.target.value = inputValue;
              });
          </script>
          <!--  /Payhere Form -->

          <p class="mb-4">{{ safeHTML .Params.intro_text }}</p>
          <div class="mt-4 bank-details">
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Country
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_country }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Bank Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Branch Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_branch_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Branch Code
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_branch_code }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Account Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.account_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Account Number
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.account_number }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                SWIFT
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.swift_code }}
                </span>
              </li>
            </ul>
          </div>
          <div class="mt-4">
            {{ .Content }}
          </div>
        </div>

        <!-- Contact Details -->
        <div class="col-lg-5 mt-5 mt-lg-0 donate-contact-pane">
          <div>
            <div class="text-muted">
              <h3 class="text-secondary text-center mb-4 text-center">
                Contact us
              </h3>

              <div class="text-center mb-5">
                {{ partial "contact-form.html" . }}
              </div>
            </div>
          </div>

          {{ partial "contact-details.html" }}
        </div>
        <!-- /Contact Details -->
      </div>
    </div>
  </section>
  <!-- /contact -->
{{ end }}
