{{ define "main" }}
  {{ $data := index site.Data site.Language.Lang }}


  <section class="section">
    <div class="container donation-content-pane">
      <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
          {{ .Content }}
          <div class="mt-4 bank-details">
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Country
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_country }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Bank Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Branch Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_branch_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Branch Code
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.bank_branch_code }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Account Name
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.account_name }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                Account Number
                <span
                  class="badge badge-light badge-pill text-monospace"
                  style="display: block;">
                  {{ site.Params.account_number }}
                </span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center">
                SWIFT
                <span class="badge badge-light badge-pill text-monospace">
                  {{ site.Params.swift_code }}
                </span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Contact Details -->
        <div class="col-lg-5 mt-5 mt-lg-0 donate-contact-pane">
          <div>
            <div class="text-muted">
              <h3 class="text-secondary text-center mb-4 text-center">
                Contact us
              </h3>

              <div class="text-center mb-5">
                {{ partial "contact-form.html" . }}
              </div>
            </div>
          </div>

          {{ partial "contact-details.html" }}
        </div>
        <!-- /Contact Details -->
      </div>
    </div>
  </section>
  <!-- /contact -->
{{ end }}
