{{ define "main" }}
  {{ $data := index site.Data site.Language.Lang }}


  <section class="section">
    <div class="container donation-content-pane">
      <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <ul id="tabs" class="nav nav-tabs nav-fill">
            <li class="nav-item">
              <a
                href="#online-donation-tab"
                data-target="#online-donation-tab"
                data-toggle="tab"
                class="nav-link active">
                Donate Online
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#bank-transfer-tab"
                data-target="#bank-transfer-tab"
                data-toggle="tab"
                class="nav-link">
                Bank Transfer
              </a>
            </li>
          </ul>
          <div
            id="donation-tab-content"
            class="tab-content p-5 border border-top-0 rounded">
            <div id="online-donation-tab" class="tab-pane fade active show">
              <p class="mb-4">
                {{ safeHTML .Params.online_donation_text }}
              </p>
              <!--  Donation Form -->
              {{ partial "donation-form.html" }}
              <!--  /Donation Form -->
            </div>

            <div id="bank-transfer-tab" class="tab-pane fade">
              <div class="bank-details">
                <p class="mb-4">
                  {{ safeHTML .Params.bank_transfer_text }}
                </p>
                <!--  Bank Details -->
                {{ partial "bank-details.html" }}
                <!--  /Bank Details -->
              </div>
            </div>
          </div>
          <div class="mt-4">
            {{ .Content }}
          </div>
        </div>
        <!-- Contact Details -->
        <div class="col-lg-5 mt-5 mt-lg-0 donate-contact-pane">
          <div>
            <div class="text-muted">
              <h3 class="text-secondary text-center mb-4 text-center">
                Contact us
              </h3>

              <div class="text-center mb-5">
                {{ partial "contact-form.html" . }}
              </div>
            </div>
          </div>

          {{ partial "contact-details.html" }}
        </div>
        <!-- /Contact Details -->
      </div>
    </div>
  </section>
  <!-- /contact -->
{{ end }}
