{{ define "main" }}
  {{ $data := index site.Data site.Language.Lang }}


  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12  content-body">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

  {{ if $data.homepage.blog.enable }}
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="section-title">The Team</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- Team -->
          {{ $teamPages := slice }}
          {{ range site.RegularPages }}
            {{ if eq .Type "team" }}
              {{ $teamPages = $teamPages | append . }}
            {{ end }}
          {{ end }}
          {{ $sortedTeamPages := sort $teamPages "Params.Order" }}
          {{ range first 3 $sortedTeamPages }}
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
              {{ .Render "team" }}
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}


  <!-- /Team -->
{{ end }}
