<!-- footer -->
<footer>
  <!-- newsletter -->
  <!-- {{ if site.Params.subscription.enable }}
    {{ with site.Params.subscription }}
      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
              <h3 class="text-white mb-4">{{ i18n "subscribe_newsletter" }}</h3>
              <form
                action="{{ .mailchimp_form_action }}"
                method="post"
                name="mc-embedded-subscribe-form"
                target="_blank">
                <div class="input-wrapper">
                  <input
                    type="email"
                    class="form-control border-0"
                    id="newsletter"
                    name="newsletter"
                    placeholder="{{ i18n "enter_email" }}" />
                  <button
                    type="submit"
                    name="subscribe"
                    class="btn btn-primary">
                    {{ i18n "join" }}
                  </button>
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true">
                    <input
                      type="text"
                      name="{{ .mailchimp_form_name }}"
                      tabindex="-1" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }} -->
  <!-- footer content -->
  <div class="footer bg-footer section">
    <div class="container">
      <div class="row footer-main-area">
        <!-- Logo & Contact Details -->
        <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0 text-lg-left text-center">
          <a class="logo-footer" href="{{ site.BaseURL | relLangURL }}">
            <img
              class="img-fluid mb-4 mt-2 logo"
              src="{{ site.Params.logo_dark | absURL }}"
              alt="{{ site.Title }}" />
          </a>
          <ul class="list-unstyled">
            <li class="mb-4">
              <a href="{{ site.Params.map_location }}" target="_blank">
                {{ site.Params.address | markdownify }}
              </a>
            </li>
            <li class="mb-4">{{ site.Params.email | markdownify }}</li>
            <li class="mb-4">
              <a href="tel:{{ site.Params.call }}">
                {{ site.Params.mobile | markdownify }}
              </a>
              <small>
                (
                <a href="tel:{{ site.Params.call }}">Call</a>
                or
                <a
                  href="https://wa.me/{{ site.Params.whatsapp }}"
                  target="_blank">
                  WhatsApp
                </a>
                )
              </small>
            </li>
          </ul>
        </div>
        <!-- SLCFHR -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="mb-5 text-uppercase text-muted">SLCFHR</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.main }}
              {{ if not .HasChildren }}
                <li class="mb-3">
                  <a class="text-color" href="{{ .URL | absLangURL }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        <!-- Links -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="mb-5 text-uppercase text-muted">Links</h4>
          <ul class="list-unstyled">
            {{ range site.Menus.footer }}
              <li class="mb-3">
                <a class="text-color" href="{{ .URL | absLangURL }}">
                  {{ .Name }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
        <!-- Posts -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="mb-5 text-uppercase text-muted">Posts</h4>
          <ul class="list-unstyled">
            {{ range first 3 (where site.RegularPages "Type" "post") }}
              <li class="mb-3">
                <a class="text-color" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>

        <!-- Events -->
        <!-- <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="mb-5 text-uppercase text-muted">Events</h4>
          <ul class="list-unstyled">
            {{ range first 3 (where site.RegularPages "Type" "event") }}
          <li class="mb-3">
            <a class="text-color" href="{{ .Permalink }}">
              {{ .Date.Format "Jan 02" }} -
              {{ .Title }}
            </a>
          </li>
        {{ end }}
          </ul>
        </div> -->

        <!-- Events -->
        <div class="col-lg-2 col-sm-4 col-6 mb-5 mb-md-0">
          <h4 class="mb-5 text-uppercase text-muted">Events</h4>
          <ul class="list-unstyled">
            {{ $upcomingEvents := where site.RegularPages "Type" "event" }}
            {{ $sortedEvents := sort $upcomingEvents "Date" }}
            {{ range $sortedEvents | last 3 }}
              <li class="mb-3">
                <a class="text-color" href="{{ .Permalink }}">
                  <span class="badge badge-pill badge-primary mr-1">
                    {{ .Date.Format "Jan 02" }}
                  </span>
                  {{ .Title }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>

        <!-- /Event -->
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copyright py-4 bg-footer">
    <div class="container border-top pt-4">
      <div class="row">
        <div class="col-md-7 text-md-left text-center">
          <p class="mb-3 mb-md-0">
            {{ replace site.Params.copyright "{year}" now.Year | safeHTML }}
          </p>
        </div>
        <div class="col-md-5 text-md-right text-center">
          <ul class="list-inline">
            {{ range site.Params.social }}
              <li class="list-inline-item">
                <a class="d-inline-block p-2" href="{{ .link | safeURL }}">
                  <i class="{{ .icon }} text-primary"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /footer -->

  {{ "<!-- JS Plugins -->" | safeHTML }}
  {{ range
    site.Params.plugins.js
  }}
    <script src="{{ .link | absURL }}"></script>
  {{ end }}
  {{ "<!-- Main Script -->" | safeHTML }}
  {{ $script := resources.Get
    "js/script.js" | minify
  }}
  <script src="{{ $script.Permalink }}"></script>

  <!-- cookie -->
  {{ if site.Params.cookies.enable }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <div id="js-cookie-box" class="cookie-box cookie-box-hide">
      This site uses cookies. By continuing to use this website, you agree to
      their use.
      <span id="js-cookie-button" class="btn btn-sm btn-outline-primary ml-2">
        I Accept
      </span>
    </div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

    <!-- cookie style -->
    <style>
      .cookie-box {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 9999;
        padding: 1rem 2rem;
        background: rgb(71, 71, 71);
        transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
        color: #fdfdfd;
      }

      .cookie-box-hide {
        display: none;
      }
    </style>
  {{ end }}
</footer>
