/* preview-style.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  color: gray;
}

/* Fix Netlify CMS cursor jump issue in Chrome/Edge (see https://github.com/netlify/netlify-cms/issues/5092). */
[data-slate-editor] {
  -webkit-user-modify: read-write !important;
}
