{{ define "main" }}
  <!-- events -->
  <section class="section">
    <div class="container">
      <!-- Upcoming Events -->
      <div class="row">
        {{ $upcomingEvents := where (where site.RegularPages "Type" "event") "Date" "ge" now }}
        {{ if $upcomingEvents }}
          {{ $sortedEvents := sort $upcomingEvents "Date" }}
          {{ range $sortedEvents }}
            <div class="col-lg-4 col-sm-6 mb-5">
              {{ .Render "event" }}
            </div>
          {{ end }}
        {{ else }}
          <div class="col-12">
            <p>No upcoming events.</p>
          </div>
        {{ end }}
      </div>

      <!-- Border -->
      <div class="border-top border-primary mt-5"></div>

      <!-- Past Events -->
      <h2 class="text-secondary mt-5 pb-4">Past Events</h2>
      <div class="row">
        {{ $pastEvents := where (where site.RegularPages "Type" "event") "Date" "le" now }}
        {{ if $pastEvents }}
          {{ $sortedEvents := sort $pastEvents "Date" }}
          {{ range $sortedEvents.Reverse }}
            <div class="col-lg-4 col-sm-6 mb-5">
              {{ .Render "event" }}
            </div>
          {{ end }}
        {{ else }}
          <div class="col-12">
            <p>No past events.</p>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
