{{ define "main" }}
  <!-- event single -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <!-- event image -->
        <div class="col-12 mb-4">
          <img
            src="{{ .Params.image | relURL }}"
            alt="{{ .Title }}"
            class="img-fluid w-100 event-thumb" />
        </div>
      </div>
      <!-- event info -->
      <div class="row align-items-center mb-5">
        <div class="col-lg-9">
          <ul class="list-inline">
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-location-pin text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">{{ i18n "location" | upper }}</h6>
                  <p class="mb-0">{{ .Params.Location | markdownify }}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-calendar text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">{{ i18n "date" | upper }}</h6>
                  <p class="mb-0">{{ .Date.Format "Monday, Jan 02, 2006" }}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-time text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">{{ i18n "time" | upper }}</h6>
                  <p class="mb-0">{{ .Date.Format "15:04 IST" }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- border -->
        <div class="col-12 mt-4 order-4">
          <div class="border-bottom border-primary"></div>
        </div>
      </div>

      <!-- event details -->
      <div class="row">
        <div class="col-12 mb-50 content  content-body">
          {{ .Content }}
        </div>
      </div>

      <!-- Gallery -->
      {{ if .Params.event_gallery }}
      <div class="image-gallery">
        <h3 class="pb-2">From the event</h3>
        <div class="row">
          {{ with .Params.gallery_folder }}
            {{ $galleryPath := . }}
            {{ $allowedExtensions := slice "jpg" "jpeg" "png" }}
            {{ $images := readDir (printf "static/%s" $galleryPath) }}
            {{ range $images }}
            {{ $extension := index (split .Name ".") (sub (len (split .Name ".")) 1) }}
              {{ if in $allowedExtensions $extension }}
              <div class="col-md-4 mb-4">
                <a
                  href="{{ printf "/%s/%s" $galleryPath .Name }}"
                  data-gall="{{ $galleryPath }}"
                  class="venobox">
                  <img
                    src="{{ printf "/%s/%s" $galleryPath .Name }}"
                    class="img-fluid img-thumbnail"
                    alt="{{ .Name }}" />
                </a>
              </div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </section>
  <!-- /event single -->

  <!-- more event -->
  <section class="section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="border-bottom border-primary mt-4 mb-5"></div>
          <h3 class="section-title text-secondary">
            You may also interested in
          </h3>
        
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- event -->
        {{ $related := (where site.RegularPages "Type" "event") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) | shuffle | first 3 }}
        {{ range first 3 $related }}
          <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
            {{ .Render "event" }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /more event -->
{{ end }}
