{{ define "main" }}
  <!-- contact -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-title">{{ i18n "contact_us" }}</h2>
        </div>
      </div>
      <div class="row">
        <!-- Form -->
        <div class="col-lg-7 mb-4 mb-lg-0">
          <form
            action="/contact-success"
            method="POST"
            name="Contact-Form"
            data-netlify="true"
            netlify-honeypot="bot-field"
            class="needs-validation"
            novalidate>
            <input type="hidden" name="bot-field" />

            <input
              type="text"
              class="form-control mb-3"
              id="name"
              name="name"
              placeholder="Your Name"
              required="true" />

            <input
              type="email"
              class="form-control mb-3"
              id="mail"
              name="email"
              placeholder="Email"
              required="true" />

            <textarea
              name="message"
              id="message"
              class="form-control mb-3"
              placeholder="Message"></textarea>

            <button type="submit" value="send" class="btn btn-primary">
              {{ i18n "send" }}
            </button>
          </form>
        </div>
        <!-- /Form -->

        <!-- Contact Details -->
        <div class="col-lg-5 mt-5 mt-lg-0">
          <div class="text-center">
            <div class="list-unstyled mb-4 contact-info">
              <li class="mb-5">
                <i class="ti-email"></i>
                <a href="mailto:{{ site.Params.email }}" class="mt-3 d-block">
                  {{ site.Params.email }}
                </a>
              </li>

              <li class="mb-5">
                <i class="ti-mobile"></i>
                <a href="tel:{{ site.Params.call }}" class="mt-3 d-block">
                  {{ site.Params.mobile }}
                </a>

                <a href="tel:{{ site.Params.call }}">Call</a>
                /
                <a
                  href="https://wa.me/{{ site.Params.whatsapp }}"
                  target="_blank">
                  WhatsApp
                </a>
              </li>

              <li>
                <i class="ti-location-pin"></i>
                <a
                  href="{{ site.Params.map_location }}"
                  class="mt-3 d-block"
                  target="_blank">
                  {{ site.Params.address | markdownify }}
                </a>
              </li>
            </div>
          </div>
        </div>
        <!-- /Contact Details -->
      </div>
    </div>
  </section>
  <!-- /contact -->

  <!-- gmap -->
  <section class="section pt-0">
    <!-- Google Map -->
    <div
      id="map_canvas"
      data-latitude="{{ site.Params.map.map_latitude }}"
      data-longitude="{{ site.Params.map.map_longitude }}"
      data-marker="{{ site.Params.map.map_marker | absURL }}"
      data-marker-name="{{ site.Title }}"></div>
  </section>
  <!-- /gmap -->
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName("needs-validation");
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false,
            );
          });
        },
        false,
      );
    })();
  </script>
{{ end }}
