{{ define "main" }}
  <!-- contact -->
  <section class="section">
    <div class="container">
      <div class="row">
        <!-- Form -->
        <div class="col-lg-7 mb-4 mb-lg-0 text-center">
          {{ partial "contact-form.html" . }}
        </div>
        <!-- /Form -->

        <!-- Contact Details -->
        <div class="col-lg-5 mt-5 mt-lg-0">
          <div class="text-center">
            <div class="list-unstyled mb-4 contact-info">
              <li class="mb-5">
                <i class="ti-email"></i>
                <a href="mailto:{{ site.Params.email }}" class="mt-3 d-block">
                  {{ site.Params.email }}
                </a>
              </li>

              <li class="mb-5">
                <i class="ti-mobile"></i>
                <a href="tel:{{ site.Params.call }}" class="mt-3 d-block">
                  {{ site.Params.mobile }}
                </a>

                <a href="tel:{{ site.Params.call }}">Call</a>
                /
                <a
                  href="https://wa.me/{{ site.Params.whatsapp }}"
                  target="_blank">
                  WhatsApp
                </a>
              </li>

              <li>
                <i class="ti-location-pin"></i>
                <a
                  href="{{ site.Params.map_location }}"
                  class="mt-3 d-block"
                  target="_blank">
                  {{ site.Params.address | markdownify }}
                </a>
              </li>
            </div>
          </div>
        </div>
        <!-- /Contact Details -->
      </div>
    </div>
  </section>
  <!-- /contact -->

  <!-- gmap -->
  <section class="section pt-0 pb-4">
    <!-- Google Map -->
    <div
      id="map_canvas"
      data-latitude="{{ site.Params.map.map_latitude }}"
      data-longitude="{{ site.Params.map.map_longitude }}"
      data-marker="{{ site.Params.map.map_marker | absURL }}"
      data-marker-name="{{ site.Title }}"></div>
  </section>
  <!-- /gmap -->
  {{ "<!-- Google Map API -->" | safeHTML }}
  {{ with site.Params.map.gmap_api }}
    <script
      async="false"
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ . }}&libraries=places&callback=initMap"></script>
  {{ end }}

{{ end }}
