{{ define "main" }}
  <!-- press-coverage -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="list-unstyled">
            {{ if not (len .Data.Pages) }}
              {{ partial "under-construction.html" }}
            {{ else }}
              {{ range .Data.Pages }}
                {{ .Render "press-coverage" }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /press-coverage -->
{{ end }}
